<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>pw</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.pw}"></td>
                <td th:text="${member.name}"></td>
            </tr> <!-- 타임루프 루프돌린다 -->
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>